    /*
    Flaticon icon font: Flaticon
    Creation date: 22/06/2016 15:32
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-burner:before { content: "\f100"; }
.flaticon-chakra:before { content: "\f101"; }
.flaticon-chakra-1:before { content: "\f102"; }
.flaticon-chakra-2:before { content: "\f103"; }
.flaticon-chakra-3:before { content: "\f104"; }
.flaticon-flower:before { content: "\f105"; }
.flaticon-incense:before { content: "\f106"; }
.flaticon-lotus:before { content: "\f107"; }
.flaticon-lotus-1:before { content: "\f108"; }
.flaticon-om:before { content: "\f109"; }
.flaticon-om-1:before { content: "\f10a"; }
.flaticon-stones:before { content: "\f10b"; }
.flaticon-teapot:before { content: "\f10c"; }
.flaticon-yoga:before { content: "\f10d"; }
.flaticon-yoga-1:before { content: "\f10e"; }
    
    $font-Flaticon-burner: "\f100";
    $font-Flaticon-chakra: "\f101";
    $font-Flaticon-chakra-1: "\f102";
    $font-Flaticon-chakra-2: "\f103";
    $font-Flaticon-chakra-3: "\f104";
    $font-Flaticon-flower: "\f105";
    $font-Flaticon-incense: "\f106";
    $font-Flaticon-lotus: "\f107";
    $font-Flaticon-lotus-1: "\f108";
    $font-Flaticon-om: "\f109";
    $font-Flaticon-om-1: "\f10a";
    $font-Flaticon-stones: "\f10b";
    $font-Flaticon-teapot: "\f10c";
    $font-Flaticon-yoga: "\f10d";
    $font-Flaticon-yoga-1: "\f10e";