	/*
  	Flaticon icon font: Flaticon
  	Creation date: 22/06/2016 15:32
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-burner:before { content: "\f100"; }
.flaticon-chakra:before { content: "\f101"; }
.flaticon-chakra-1:before { content: "\f102"; }
.flaticon-chakra-2:before { content: "\f103"; }
.flaticon-chakra-3:before { content: "\f104"; }
.flaticon-flower:before { content: "\f105"; }
.flaticon-incense:before { content: "\f106"; }
.flaticon-lotus:before { content: "\f107"; }
.flaticon-lotus-1:before { content: "\f108"; }
.flaticon-om:before { content: "\f109"; }
.flaticon-om-1:before { content: "\f10a"; }
.flaticon-stones:before { content: "\f10b"; }
.flaticon-teapot:before { content: "\f10c"; }
.flaticon-yoga:before { content: "\f10d"; }
.flaticon-yoga-1:before { content: "\f10e"; }